.main{position:relative;}
.down{background:url(../images/bg.jpg);width:100%;height:1800px;}
.down .top{width:980px;margin:0 auto;}
.down .top img{display:block;}
.down .down_con{background:#fefaec;width:980px;height:500px;position: relative;margin:0 auto;}
.down .down_con span{width:40px;height:40px;border-radius:20px;background-color:#ccc;position:absolute;top:50%;transform:translateY(-50%);color:white;font-weight:bolder;font-size:40px;text-align:center;line-height:40px;cursor:pointer;}
.down .down_con span#left{left:0px;content:'<';}
.down .down_con span#right{right:0px;content:'>';}
.down .down_con #stage{width:980px;height:380px;
			perspective:4000px;perspective-origin:50% 50%;
			position:absolute;left:0;right:0;top:0;bottom:0;margin:auto;
		}
.down .down_con .container{position:absolute;transform-style:preserve-3d;}
.down .down_con .container div{width:100%;height:100%;position:absolute;top:0;backface-visibility:hidden;}
.down .middle{width:980px;height:219px;margin:0 auto;background-color:white;}
.down .middle ul li{float:left;overflow: hidden;perspective: 1000px;box-sizing:border-box;width:300px;height:219px;margin-left:20px;}
.down .middle ul li img{display:block;transition: opacity 0.35s, transform 0.35s;opacity:0.3;background:black;}
.down .middle ul li:hover img{opacity:1;transform: translate3d(0,0,300px);}
.down .middle ul li .content::before,.down .middle ul li .content::after{content:"";position:absolute;top:50%;left:50%;width:80%;height:1px;background:#fff;transition: opacity 0.35s, transform 0.35s;transform: translate3d(-50%,-50%,0);}
.down .middle ul li:hover .content::before{transform: translate3d(-50%,-50%,0) rotate(45deg);opacity:0.5;}
.down .middle ul li:hover .content::after{transform: translate3d(-50%,-50%,0) rotate(-45deg);opacity:0.5;}
.down .downs{width:980px;height:580px;margin:0 auto;background-color:#fefaec;}
.down .downs .img{padding-left:20px;}
.down .downs ul{width:70%;height:500px;float:left;}
.down .downs ul li{overflow:hidden;padding-left:50px;float:left;position:relative;width:250px;height:226px;}

.down .downs ul li img{width:280px;height:196px;}
.down .downs ul li span{transform:translateY(-196px);font-size:25px;opacity:0.4;transition:0.5s;position: absolute;top:0;left:50px;width:280px;height:196px;line-height:196px;background-color:black;color:white;text-align: center;}
.down .downs ul li:hover span{transform:translateY(0);}

.down .downs p{display:block;width:200px;height:20px;float:left;padding-left: 75px;font-size: 15px;font-weight:bold;cursor: pointer;}
.down .downs p:hover{color:orange;}
.down .downs .menue{width:30%;height:500px;float:right;padding-right:10px;box-sizing:border-box;}
.down .downs .menue .la{ color:white;font-size:16px;display:block; width:270px; height:50px; background:#fc9; text-align:center; line-height:50px; cursor:pointer; margin:10px auto;}
.down .downs .menue .shou{ width:270px; height:0px; background:#feecec; margin:0 auto;/*transition:1s height linear;*//*display:none;*/overflow:hidden;transition:height 0.5s;}
.down .downs .menue .la:hover{color:green;font-size: 18px;font-weight: bold;border-radius:40px;}
.down .downs .menue .active:hover{border-radius:50px;}
.down .downs .menue .active{background-color:#ff009c;}
.down .downs .menue .toshow{height:219px;}

